<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <servlet>
        <servlet-name>Kirish</servlet-name>
        <servlet-class>kirish_regstratsiya.kirish</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Kirish</servlet-name>
        <url-pattern>/kirish</url-pattern>
    </servlet-mapping>
    
   <servlet>
       <servlet-name>Registratsiya</servlet-name>
       <servlet-class>kirish_regstratsiya.registratsiya</servlet-class>
   </servlet>
    
    <servlet-mapping>
        <servlet-name>Registratsiya</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
</web-app>